<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=10,IE=Edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Engineering Bussiness Support</title>
    
    <link href="@Url.Content("~/Content/bootstrap/bootstrap.min.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrapfileinput.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/jquery-autocomplete/jquery.auto-complete.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Layout.css")" rel="stylesheet" type="text/css" />

    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.12.4.min.js" type="text/javascript"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery-ui")

    <link type="text/css" rel="stylesheet" href="~/Content/jquery.datatables.min.css" />
    <script type="text/javascript" src="~/Scripts/jquery.datatables.min.js"></script>
    <link href="~/Scripts/datatables/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/datatables/buttons.html5.min.js"></script>
    <script src="~/Scripts/datatables/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/datatables/jszip.min.js"></script>

    <script src="~/Scripts/bootstrap/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/ajaxfileupload.js" type="text/javascript"></script>
    <script src="~/Scripts/moment.min.js"></script>

    <script type="text/javascript" src="~/Scripts/canvg.js"></script>
    <script type="text/javascript" src="~/Scripts/copy2clipboard.js"></script>

    <script src="~/Scripts/highcharts-modal.js" type="text/javascript"></script>
    <script src="~/Scripts/highcharts.js"></script>
    <script src="~/Scripts/heatmap.js"></script>
    <script src="~/Scripts/highcharts-more.js"></script>
    <script src="~/Scripts/offline-exporting.js"></script>
    <script src="~/Scripts/exporting.js"></script>
    <script src="~/Scripts/highcharts/boost.js"></script>

    <link type="text/css" rel="stylesheet" href="~/Scripts/bootstrap-tagsinput/bootstrap-tagsinput.css" />
        <script type="text/javascript" src="~/Scripts/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-tagsinput/bootstrap3-typeahead.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-autocomplete/jquery.auto-complete.min.js"></script>
    <script src="~/Scripts/jquery-bootstrap-loading.js" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet" href="~/Scripts/bootstrap-datepicker/bootstrap-datepicker.min.css" />
    <script type="text/javascript" src="~/Scripts/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">
        $(function () {
            HighChartModal.init();
        });
    </script>

    <script src="../../ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/jquery.base64.js"></script>
</head>

@{
    var isvideook = true;
    var ua = Request.UserAgent;
    if (ua.IndexOf("MSIE ") > 0)
    { isvideook = false; }
    if (ua.IndexOf("Edge/") > 0 || ua.IndexOf("Trident/") > 0)
    { isvideook = true; }
}

<body>
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="popover"]').popover({ html: true, placement: 'bottom' });
        })
    </script>

    <div class="navbar navbar-default navbar-fixed-top div-nav">
        <nav class="navbar navbar-default navbar-fixed-top nav-content">
            <div class="container">
                <div class="row">
                    <div class="navbar-header logo">
                        <a class="navbar-brand" href="#">
                            <img alt="Brand" src="~/Content/images/FinisarLogo.jpg" height="54" width="250">
                        </a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse div-navlink">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Main<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.ActionLink("Index", "Index", "Main")
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">DIE SORT<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    @*<li>
                                        @Html.ActionLink("Compare DieSort", "CompareDieSortedMapFile", "DieSort")
                                    </li>*@
                                    <li>
                                        @Html.ActionLink("Review DieSort", "ReviewDieSortedMapFile", "DieSort")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Manage DieSort", "DieSortFiailedConvertFiles", "DieSort")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Review Wafer Info", "Wafer4Planning", "DieSort")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Download PD Map File", "DownLoadPDMapFile", "DieSort")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Bin Substitute", "WaferBinSubstitute", "DieSort")
                                    </li>
                                    <li>
                                        @Html.ActionLink("IPOH Sample Pick", "SamplePick4Ipoh", "DieSort")
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">BurnIn<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.ActionLink("Wafer QUAL", "WaferQUAL", "Wafer")
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">WAT<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.ActionLink("WUXI WAT WIP", "WATWIP", "WATLogic")
                                    </li>
                                    <li>
                                        @Html.ActionLink("WUXI WAT Test Status", "WUXIWATStatus", "WATLogic")
                                    </li>
                                    <li>
                                        @Html.ActionLink("WUXI WAT Data Manage", "WUXIWATDataManage", "WATLogic")
                                    </li>
                                    <li>
                                        @Html.ActionLink("WUXI WAT", "WUXIWaferWAT", "WATLogic")
                                    </li>
                                    <li>
                                        @Html.ActionLink("WUXI WAT Detail", "WUXIWATLogic", "WATLogic")
                                    </li>
                                    <li>
                                        @Html.ActionLink("WUXI OGP Data", "WATOGPData", "WATLogic")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Allen WAT", "AllenWaferWAT", "WATLogic")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Allen WAT Detail", "VerifyAllenLogic", "WATLogic")
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">WAT Analyze<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.ActionLink("WUXI WAT Distribution", "WUXIWATAnalyze", "WATLogic")
                                    </li>
                                    <li>
                                        @Html.ActionLink("WUXI WAT On WAFER", "WUXIWATXY", "WATLogic")
                                    </li>
                                    <li>
                                        @Html.ActionLink("WUXI WAT With Coupon", "WUXIWATCoupon", "WATLogic")
                                    </li>
                                    <li>
                                        @Html.ActionLink("WUXI WAT Param vs Param", "WUXIWATPvsP", "WATLogic")
                                    </li>
                                    <li>
                                        @Html.ActionLink("WUXI WAT Golden Sample", "WUXIWATGoldSample", "WATLogic")
                                    </li>
                                    <li>
                                        @Html.ActionLink("WUXI WAT OVEN Trend", "WUXIWATOven", "WATLogic")
                                    </li>
                                    <li>
                                        @Html.ActionLink("WUXI WAT OVEN By Coupon", "WUXIWATCouponOVEN", "WATLogic")
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        @Html.Partial("_LoginPartial")

                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-link" title="Friendly Links" data-toggle="tooltip"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="http://cn-traceview/" target="_blank">Trace View</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - VCSEL WAT Support</p>
        </footer>
        <script type="text/javascript">
            function SetReplyPeople(reply) {
                CKEDITOR.instances.editor1.setData(reply + '&nbsp;');
                $('#commentinput').collapse('show');
                var scrollingElement = (document.scrollingElement || document.body)
                scrollingElement.scrollTop = scrollingElement.scrollHeight;
            }

        </script>
    </div>

</body>
</html>
